<div class="header" style="background-color: transparent;">
    <a class="logo" href="">
        <span style="color: rgb(0, 28, 85);"> &lt;</span>
    <span class="logo-name" style="color: rgb(0, 28, 85);">Partha Saha</span>
    <span style="color: rgb(0, 28, 85);"> &gt;</span>
    </a>
    <label className="menu-icon" htmlFor="menu-btn">
        <span className="navicon"></span>
      </label>
    <ul className="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/education">Education</a>
        </li>
        <li>
            <a href="/projects"> Projects</a>
        </li>
        <li>
            <a href="/workexp">Work Experience</a>
        </li>
        <li>
            <a href="/contactme">Contact Me</a>
        </li>
    </ul>
</div> 